<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>All Chats</h1>
    <% for(let chat of chats){%>
        <div class="chat">
            <p>From: <i> <%=chat.from%> </i></p>
            <div class="msg">
                <%=chat.msg%>
                <form action="/chats/<%=chat._id%>  /edit">
                    <button>Edit</button>
                </form>
                <form method="post" action="/chats/<%=chat._id%>/?_method=DELETE">
                    <button>Delete</button>
                </form>
            </div>
            <p>To: <i> <%=chat.to%> </i></p>
            <p><%= chat.created_at.toString().split(" ")[4]%></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
            
        </div>
        <hr>
    <%}%>
    <form action="/chats/new" method="get">
        <button>Create Chat</button>
    </form>
</body>
</html>

